apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: plex
  name: plex
  namespace: plex
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: plex
  strategy:
    rollingUpdate:
      maxSurge: 0
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: plex
    spec:
      volumes:
        - name: data
          hostPath:
            path: /k3s/plex/data
        - name: config
          hostPath:
            path: /k3s/plex/config
      containers:
      - env:
        - name: PLEX_CLAIM
          valueFrom:
            secretKeyRef:
              name: claim
              key: claim
        - name: PGID
          value: "\x31\x30\x30" # 100
        - name: PUID
          value: "\x31\x30\x33\x35" # 1035
        - name: VERSION
          value: latest
        - name: TZ
          value: Europe/Oslo
        image: ghcr.io/linuxserver/plex
        imagePullPolicy: Always
        name: plex
        ports:
        - containerPort: 32400
          name: pms-web
          protocol: TCP
        - containerPort: 32469
          name: dlna-tcp
          protocol: TCP
        - containerPort: 1900
          name: dlna-udp
          protocol: UDP
        - containerPort: 3005
          name: plex-companion
          protocol: TCP
        - containerPort: 5353
          name: discovery-udp
          protocol: UDP
        - containerPort: 8324
          name: plex-roku
          protocol: TCP
        - containerPort: 32410
          name: gdm-32410
          protocol: UDP
        - containerPort: 32412
          name: gdm-32412
          protocol: UDP
        - containerPort: 32413
          name: gdm-32413
          protocol: UDP
        - containerPort: 32414
          name: gdm-32414
          protocol: UDP
        resources: {}
        stdin: true
        tty: true
        volumeMounts:
        - mountPath: /config
          name: nfs-plex-config
        - mountPath: /data
          name: nfs-data 
      nodeSelector:
        beta.kubernetes.io/arch: amd64
      restartPolicy: Always
