apiVersion: apps/v1
kind: Deployment
metadata:
  name: heimdall
spec:
  revisionHistoryLimit: 3
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: heimdall
  template:
    metadata:
      labels:
        app: heimdall
    spec:
      volumes:
        - name: config
          hostPath:
            path: /k3s/heimdall/config
      dnsPolicy: ClusterFirst
      enableServiceLinks: true
      containers:
        - name: heimdall
          image: "linuxserver/heimdall:version-2.2.2"
          imagePullPolicy: IfNotPresent
          env:
            - name: "PGID"
              value: "1000"
            - name: "PUID"
              value: "1000"
            - name: "TZ"
              value: "UTC"
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
          livenessProbe:
            tcpSocket:
              port: 80
            initialDelaySeconds: 0
            failureThreshold: 3
            timeoutSeconds: 1
            periodSeconds: 10
          readinessProbe:
            tcpSocket:
              port: 80
            initialDelaySeconds: 0
            failureThreshold: 3
            timeoutSeconds: 1
            periodSeconds: 10
          startupProbe:
            tcpSocket:
              port: 80
            initialDelaySeconds: 0
            failureThreshold: 30
            timeoutSeconds: 1
            periodSeconds: 5
          resources: {}
          volumeMounts:
            - mountPath: /config
              name: config
