apiVersion: apps/v1
kind: Deployment
metadata:
  name: radarr
  labels:
    app: radarr
    release: radarr
spec:
  replicas: 1
  selector:
    matchLabels:
      app: radarr
      release: radarr
  template:
    metadata:
      labels:
        app: radarr
        release: radarr
    spec:
      volumes:
      - name: radarr
        hostPath:
          path: /k3s/radarr
      containers:
        - name: radarr
          image: "linuxserver/radarr:latest"
          imagePullPolicy: IfNotPresent
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
          ports:
            - name: http
              containerPort: 7878
              protocol: TCP
          volumeMounts:
            - mountPath: /config
              name: radarr
              subPath: configs/radarr
            - mountPath: /downloads/transmission
              name: radarr
              subPath: downloads/transmission
            - mountPath: /movies
              name: radarr
              subPath: medias/movies
          resources:
            limits:
              cpu: 0.5
              memory: 256Mi
            requests:
              cpu: 0.1
              memory: 128Mi
